In [5]:
import requests
import pandas as pd
from time import sleep
from IPython.display import clear_output
import creds

In [6]:


url = "https://wft-geo-db.p.rapidapi.com/v1/geo/cities?offset=5" # add offset=num

headers = {
	"X-RapidAPI-Key": creds.api_key,
	"X-RapidAPI-Host": "wft-geo-db.p.rapidapi.com"
}
response = requests.get(url, headers=headers)

df=pd.DataFrame(response.json()['data'])[['country','city']]
df

   country       city
0  Andorra  Ansalonga
1  Andorra      Anyós
2  Andorra      Arans
3  Andorra    Arinsal
4  Andorra    Aubinyà

In [7]:
headers = {
	"X-RapidAPI-Key": creds.api_key,
	"X-RapidAPI-Host": "wft-geo-db.p.rapidapi.com"
}
df1= pd.DataFrame()
for i in range(0,543934) :
    try:
        url = "https://wft-geo-db.p.rapidapi.com/v1/geo/cities?offset={}".format(i)
        response=requests.get(url,headers= headers)
        temp_df= pd.DataFrame(response.json()['data'])[["country",'city']]
    except KeyError:
        print("Completed!")
        break
    
    df1=pd.concat([df1,temp_df],ignore_index=True)
    sleep(0.8)
    clear_output(wait=True)
    print(f"{i} Completed")

859 Completed
Completed!

In [8]:
df1.drop_duplicates(inplace=True)
temp=df1.reset_index()
temp.drop(['index'],axis=1,inplace=True)
df1=temp

In [ ]:
!pip install pymysql
!pip install sqlalchemy

In [18]:
import pymysql
from sqlalchemy import create_engine

In [53]:
engine= create_engine("mysql+pymysql://root:@localhost/Country_city_name")#mysql+pymysql://{root}:{password}@{url}/{database}
df1.to_sql("Country_city_name",con=engine,if_exists='replace')

499

In [54]:
df1.shape

(499, 2)