In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('zomato.csv')

In [4]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [5]:
df.sample(5)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
22252,https://www.zomato.com/bangalore/lyengars-cake...,"3/7, N.G.R Complex, Arekere Main Road, Bannerg...",Lyengar's Cakes N Cookies,Yes,No,NaN,0,+91 8884663123\r\r\n+91 9900742949,Bannerghatta Road,Bakery,NaN,"Bakery, Desserts",400,"[('Rated 5.0', ""RATED\n Have ordered cakes an...","['Eggless Black Forest Pastry [2 Pieces]', 'Eg...",Delivery,JP Nagar
25993,https://www.zomato.com/bangalore/arirang-korea...,"13, NK Enclave Building, Near Sathya Hospital,...",Arirang Korean Restaurant,No,Yes,4.0 /5,240,080 41732581\n+91 9916162400,Kammanahalli,Casual Dining,"Chicken Gimbap, Sushi, Beef Bibimbap, Bulgogi,...",Korean,"1,400","[('Rated 4.0', ""RATED\n Arirang is just one o...",[],Dine-out,Kammanahalli
1716,https://www.zomato.com/bangalore/lassi-corner-...,"Jeewan Griha Colony, 2nd Phase, JP Nagar, Bang...",Lassi Corner,No,No,NEW,0,+91 9994062259,JP Nagar,Beverage Shop,NaN,"Beverages, Desserts",200,[],[],Delivery,Bannerghatta Road
40771,https://www.zomato.com/bangalore/mcdonalds-mar...,"Soul Space Arena, Akme Ballet Inner Road, Chin...",McDonald's,Yes,No,3.3 /5,8,+91 8928304314,Marathahalli,Quick Bites,NaN,"Fast Food, Burger, Beverages, Cafe, Desserts",500,"[('Rated 2.0', ""RATED\n I delivered from this...","['New Chicken Maharaja Mac', 'Big Spicy Paneer...",Delivery,Marathahalli
26975,https://www.zomato.com/manishsr?context=eyJzZS...,"15, 1st Main, 1st Block, Jakkasandra, Koramang...",Mani's Dum Biryani,Yes,No,3.9/5,374,080 43006111\r\r\n+91 9606441692,Koramangala 1st Block,Casual Dining,"Vegetable Biryani, Chicken Biryani, Raita, Chi...",Biryani,750,"[('Rated 4.0', 'RATED\n An awesome biriyani r...",[],Delivery,Koramangala 4th Block

In [6]:
# Data Cleaning
# useless columns:~  url,address,phone,reviews_list,menu_item. 
df.drop(columns=['url','address','phone','reviews_list','menu_item'],inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         51717 non-null  object
 1   online_order                 51717 non-null  object
 2   book_table                   51717 non-null  object
 3   rate                         43942 non-null  object
 4   votes                        51717 non-null  int64
 5   location                     51696 non-null  object
 6   rest_type                    51490 non-null  object
 7   dish_liked                   23639 non-null  object
 8   cuisines                     51672 non-null  object
 9   approx_cost(for two people)  51371 non-null  object
 10  listed_in(type)              51717 non-null  object
 11  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(11)
memory usage: 4.7+ MB

In [8]:
df.rate.unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', nan, '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [9]:
def filter_data(x):
    if x=='NEW' or x=='-':
        return np.nan
    else:
        return float(str(x).split('/')[0])

In [10]:
df['rate']=df.rate.apply(filter_data)

**Columns which contains NULL value**:-<br>
rate,location,rest_type,dish_liked,cuisines,approx_cost(for two people)

In [11]:
df.rename(columns={'approx_cost(for two people)':'approx_cost_2per'},inplace=True)

In [12]:
print('Number of null values:')
print(f'rate: {df.rate.isnull().sum()}, location: {df.location.isnull().sum()}, rest_type: {df.rest_type.isnull().sum()}, dish_liked: {df.dish_liked.isnull().sum()}, cuisines: {df.cuisines.isnull().sum()}, approx_cost(for two people): {df.approx_cost_2per.isnull().sum()}')

Number of null values:
rate: 10052, location: 21, rest_type: 227, dish_liked: 28078, cuisines: 45, approx_cost(for two people): 346

In [13]:
#droping dish_liked column as more than 50% data missing.
#droping location column as data for location is already present as listed_in(city).
df.drop(['dish_liked','location'],axis=1,inplace=True)

In [14]:
df['listed_in(city)'].value_counts()

BTM                      3279
Koramangala 7th Block    2938
Koramangala 5th Block    2836
Koramangala 4th Block    2779
Koramangala 6th Block    2623
Jayanagar                2371
JP Nagar                 2096
Indiranagar              1860
Church Street            1827
MG Road                  1811
Brigade Road             1769
Lavelle Road             1744
HSR                      1741
Marathahalli             1659
Residency Road           1620
Whitefield               1620
Bannerghatta Road        1617
Brookefield              1518
Old Airport Road         1425
Kammanahalli             1329
Kalyan Nagar             1309
Basavanagudi             1266
Sarjapur Road            1261
Electronic City          1229
Bellandur                1227
Frazer Town              1185
Malleshwaram             1096
Rajajinagar              1079
Banashankari              863
New BEL Road              740
Name: listed_in(city), dtype: int64

In [15]:
# renaming listed_in(city) as location
df.rename(columns={'listed_in(city)':'location'},inplace=True)

In [16]:
df['listed_in(type)'].value_counts()

Delivery              25942
Dine-out              17779
Desserts               3593
Cafes                  1723
Drinks & nightlife     1101
Buffet                  882
Pubs and bars           697
Name: listed_in(type), dtype: int64

In [17]:
rest_list=df.rest_type.value_counts()
rest_list=rest_list[rest_list<500].index

In [18]:
df['rest_type']=df.rest_type.apply(lambda x: "Other" if x in rest_list  else x)

In [19]:
df.rest_type.value_counts()

Quick Bites           19132
Casual Dining         10330
Other                  6909
Cafe                   3732
Delivery               2604
Dessert Parlor         2263
Takeaway, Delivery     2037
Casual Dining, Bar     1154
Bakery                 1141
Beverage Shop           867
Bar                     697
Food Court              624
Name: rest_type, dtype: int64

In [25]:
cuisines_list=df.cuisines.value_counts()

In [33]:
cuisines_list=cuisines_list[cuisines_list<100].index

In [35]:
df['cuisines']=df.cuisines.apply(lambda x: 'Other' if x in cuisines_list else x)

In [37]:
df['listed_in(type)'].value_counts()

Delivery              25942
Dine-out              17779
Desserts               3593
Cafes                  1723
Drinks & nightlife     1101
Buffet                  882
Pubs and bars           697
Name: listed_in(type), dtype: int64

In [40]:
df.rate.isnull().sum()

10052

In [51]:
from sklearn.impute import SimpleImputer

In [45]:
imp=SimpleImputer()
imp.fit(df.rate)

ValueError: Expected 2D array, got 1D array instead:
array=[4.1 4.1 3.8 ... nan 4.3 3.4].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.